@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Arizonia&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Paprika&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway+Dots&family=Raleway:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');

@import "tailwindcss";

@theme {
  --font-primary: "Open Sans", sans-serif; 
  --font-secondary: "Nunito", sans-serif; 
  --font-third: "Poppins", sans-serif; 
}

body::-webkit-scrollbar-thumb {
  background-color: #3b82f6; 
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover{
  background-color: chartreuse;
  transition:  2s ease;
}
body::-webkit-scrollbar {
  width: 5px; 
}



.group::-webkit-scrollbar-thumb {
  background-color: #3b82f6; 
  border-radius: 10px;
  
}
.group::-webkit-scrollbar-thumb:hover{
  background-color: chartreuse;
  transition:  2s ease;
  
}
.group::-webkit-scrollbar {
  width: 5px; 
}




.friendrequest::-webkit-scrollbar-thumb {
  background-color: #3b82f6; 
  border-radius: 10px;
}
.friendrequest::-webkit-scrollbar-thumb:hover{
  background-color: chartreuse;
  transition:  2s ease;
}
.friendrequest::-webkit-scrollbar {
  width: 5px; 
}




.mygroup::-webkit-scrollbar-thumb {
  background-color: #3b82f6; 
  border-radius: 10px;
}
.mygroup::-webkit-scrollbar-thumb:hover{
  background-color: chartreuse;
  transition:  2s ease;
}
.mygroup::-webkit-scrollbar {
  width: 5px; 
}



.userlist::-webkit-scrollbar-thumb {
  background-color: #3b82f6; 
  border-radius: 10px;
}
.userlist::-webkit-scrollbar-thumb:hover{
  background-color: chartreuse;
  transition:  2s ease;
}
.userlist::-webkit-scrollbar {
  width: 5px; 
}




.friend::-webkit-scrollbar-thumb {
  background-color: #3b82f6; 
  border-radius: 10px;
}
.friend::-webkit-scrollbar-thumb:hover{
  background-color: chartreuse;
  transition:  2s ease;
}
.friend::-webkit-scrollbar {
  width: 5px; 
}




.blockuser::-webkit-scrollbar-thumb {
  background-color: #3b82f6; 
  border-radius: 10px;
}
.blockuser::-webkit-scrollbar-thumb:hover{
  background-color: chartreuse;
  transition:  2s ease;
}
.blockuser::-webkit-scrollbar {
  width: 5px; 
}